/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: grid;
  place-content: center;
  font-size: 18px;
}

main {
  max-width: 375px;
  padding: 30px;
}

/* for desktop size 1440px
@media only screen and (min-width: 1440px) {
} */

.card {
  background-color: hsl(216, 50%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 15px;
}

img {
  border-radius: 10px;
}

#title {
  font-size: 1.3rem;
  margin: 0;
  margin-top: 1.4rem;
}

p {
  font-weight: 300;
  font-size: 0.98rem;
  color: hsl(215, 51%, 70%);
}

span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

span img {
  height: 18px;
}

.left1 {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.right1 {
  color: hsl(215, 51%, 70%);
}

.line {
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.avatar {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 0.3rem;
  padding-top: 1rem;
}

.left {
  color: hsl(215, 51%, 70%);
}

#avatar {
  height: 33px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  margin-right: 0.3rem;
}

/* active state  */

.right:hover,
.right:active,
.right:focus {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

#title:hover,
#title:active,
#title:focus {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.equi:hover,
.equi:active,
.equi:focus {
  /* -webkit-mask-image: url(images/icon-view.svg);
  mask-image: url(images/icon-view.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
  background: url(images/icon-view.svg);
  cursor: pointer;
  opacity: 0.5;
}

picture:hover,
picture:active,
picture:focus {
  background: hsla(178, 100%, 50%);
  border-radius: 11px;
}
