/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: grid;
  place-content: center;
  font-size: 18px;
}

main {
  max-width: 330px;
  background-color: hsl(216, 50%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1.4rem;
  border-radius: 0.83rem;
}

.equi {
  height: auto;
  border-radius: 0.556rem;
}

#title {
  font-size: 1.3rem;
  margin: 0;
  margin-top: 1.4rem;
}

p {
  font-weight: 300;
  font-size: 0.98rem;
  color: hsl(215, 51%, 70%);
}

span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

span img {
  height: 1rem;
}

.left1 {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.right1 {
  color: hsl(215, 51%, 70%);
}

.line {
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.avatar {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 0.3rem;
  padding-top: 1rem;
}

.left {
  color: hsl(215, 51%, 70%);
}

#avatar {
  height: 33px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 1.12rem;
  margin-right: 0.3rem;
}

/* active state  */

.right:hover,
.right:active,
.right:focus {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

#title:hover,
#title:active,
#title:focus {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* overlay and icon  */

/* todo new knowledge image overlay icon  */

.picture {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1;
}

.picture:hover .icon {
  opacity: 1;
}

.equi:hover {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%);
  opacity: 0;
  border-radius: 0.556rem;
}

.picture:hover .overlay {
  opacity: 0.5;
}
